<%-include('partials/header')%>
<%-include('partials/navigations')%>
	<header class="container vh-100 d-flex justify-content-center align-items-center">
		<div class=" d-flex flex-column justify-content-center align-items-center">
			<img src="img/hacker.jpg" alt="image" class="w-50">
			<h1 class="display-1 my-5 text-uppercase fw-bold">Pagina de prueba</h1>
			<a class="btn btn-primary w-25" href="/about">About</a>
		</div>
	</header>


<%-include('partials/footer')%>
		